@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@600&family=PT+Mono&family=Roboto:wght@500&family=Yellowtail&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration:none;
}
    
a {
    font-family: 'Roboto', sans-serif;
     color: white;
    text-decoration:none;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-decoration:none;
}
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 3%;
    background-color: rgb(0, 0, 0);
}
nav{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    list-style: none;  
}

.nav__links li{
   float: left;
   position: relative;
    padding: 15px 20px;
    list-style: none;
    display: block;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: blueviolet;
}

.nav__listitemdrop{
    position:absolute;
    top: 4rem;
    left: 1rem;
    padding:1rem ;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.nav__listitem:hover > .nav__listitemdrop{
    opacity: 1;
}
.cta {
    padding: 9px 25px;
    background-color: grey;
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
.cta:hover{
    background-color:blueviolet;
}
.space{
    height: 150px;
}
.article_container{
    font-family:'Roboto', sans-serif;
    font-size: 24px;
     display: flex;
     margin: auto;   
    width: 800px;
}
#portfolio{
    display: flex;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
}
h1{
    text-align: center;
    color:rgb(43, 43, 87);
}
.text-separe{
    margin-bottom: 30px;
}
#void{
    width: 100%;
    height: 300px;
}
.contact{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 180px;
}
.social-container{
    margin-left: 80px;
    display: flex;
    align-items: center;
}
.social{
    margin-left: 20px;
}
.contact2{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}
.contact3{
    margin-left: 20px;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;

  }
input[type="checkbox"]{
    display: none;
}
@media only screen and (max-width: 960px){
*{
        box-sizing: border-box;
        margin: 0;
        padding:0;
}
body{
    background-color: white;
}
nav .menu-btn i{
     display: block;
}
#click:checked ~ .menu-btn i:before{
     content: "\f00d";
}
.logo{
    width: 60%;
}
.cta{
    display: none;
}
.nav__links{
    text-align: center;
}
nav ul{
    position:absolute;
    background: black;
    width: 100%;
    height: 380px;
    top: 60%;
    text-align: center;
    left: -100%;
    z-index: 1;
    display: block;
    transition:all.5s;
}
nav ul li{
    display: block;
    top: 40px;
    margin-right:300px;
    margin-left: 40px;
    font-size: 24px;
}
.nav__listitemdrop{
    display: none;
}
#click:checked ~ ul{
    left: 0%;
}
.space{
    height: 200PX;
}
h1{
    font-size: 24px;
}
p{
    margin-left: 20px;
    margin-right: 20px;
}
#portfolio{
    left:-50%;
    width: 100%;
}
.article_container{
    width: 100%;
    font-size: 12px;
}
   

   #void{
      height: 100px;
   }
   .contact2{
       flex-direction: column;
       margin-top: 20px;
       line-height: 30px;
       font-size: 10px;
    margin-right:10%;
   }
 .social-container{
     display: none;
 }
}